include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include *.txt
include *.yml
include Makefile
include tox.ini

recursive-include desk/tests *
recursive-include desk/fitting *
recursive-include desk/probabilities *
recursive-include desk/outputs *
recursive-include desk/set_up *
recursive-include desk/put_target_data_here *
recursive-include desk/models *

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
recursive-include docs *.doctree
recursive-include docs *.html

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude desk output_sed.png
recursive-exclude desk parameter*.png
